{% load i18n %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
    {% if LANGUAGE_BIDI %}
      {% render_bundle 'ucsd.style-rtl' 'css' %}
    {% else %}
      {% render_bundle 'ucsd.style-ltr' 'css' %}
    {% endif %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<div class="wrapper-header">
  <header class="header-app" role="banner">
    <nav class="navbar navbar-light navbar-expand-lg">
        <h1 class="header-app-title navbar-brand">
          <a class="logo" href="{{ site.siteconfiguration.lms_url_root }}">
            <img class="logo-img" src="{% static 'images/logo.png' %}">
          </a>
          <span class="sr-only">{% firstof site.name platform_name %}</span>
        </h1>

        <button class="hamburger-menu collapsed" type="button" data-toggle="collapse" data-target="#ucsdNavBar" aria-controls="ucsdNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        </button>

        <div class="collapse navbar-collapse align-self-md-end" id="ucsdNavBar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="#">Courses <span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="#">Programs</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Catalog</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
            </ul>
        </div>
    </nav>
  </header>
</div>
