{% load django_markup %}
{% load html %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block styles %}
  {% if LANGUAGE_BIDI %}
      {% render_bundle 'ucsd.style-rtl' 'css' %}
  {% else %}
      {% render_bundle 'ucsd.style-ltr' 'css' %}
  {% endif %}
{% endblock %}

{% with program_details=user_credential.credential.program_details %}
<main id="main-content" class="accomplishment" tabindex="-1">
  <div class="wrapper-accomplishment-rendering">
    <div class="accomplishment-rendering">
      <div class="accomplishment-type-wrap">
          <div class="accomplishment-type">
              <span class="accomplishment-type-label-1-a hd-3">
                {% trans "UC SAN DIEGO" %}
              </span>
              <span class="accomplishment-type-label-1-b hd-3">
                {% trans "ONLINE" %}
              </span>
          </div>
          <div class="accomplishment-type">
              <span class="accomplishment-type-label-2 hd-3">
                {% trans "STATEMENT OF ACCOMPLISHMENT" %}
              </span>
              <span class="accomplishment-type-date hd-7">
                {# Translators: This phrase appears on certificates to show the issue date #}
                {% trans "Issued {month} {year}" as tmsg %}
                {% interpolate_html tmsg month=issue_date|month year=issue_date|date:"Y" as tmsg %}
                {{ tmsg | capfirst }}
              </span>
          </div>
      </div>

      <div class="inner-wrapper-accomplishment-rendering">
        <div class="accomplishment-statement">
          <p class="accomplishment-statement-lead">
            {# Translators: This phrase is followed by a statement of the learner's achievement. e.g. 'has completed the course' #}
            {% trans "{start_strong} {user_name} {end_strong}" as accomplishment_statement_lead_string %}
            {% interpolate_html accomplishment_statement_lead_string user_name=user_data.name start_span='<span class="accomplishment-statement-detail copy">'|safe end_span='</span>'|safe start_strong='<strong class="accomplishment-recipient">'|safe end_strong='</strong>'|safe %}
            <span class="accomplishment-summary copy">
              {% block accomplishment_summary %}{% endblock %}
            </span>
            <span class="accomplishment-program">
              <span class="accomplishment-program-name">
                  {% firstof credential_title program_details.title %}
              </span>
            </span>

            <span class="accomplishment-statement-detail copy">
              {% filter force_escape  %}
                {# Translators: organization_name is the display name for the provided organization e.g (e.g., Test Organization). #}
                {% blocktrans trimmed with platform_name=site.siteconfiguration.platform_name %}
                  a program offered by {{ org_name_string }}, in collaboration with {{ platform_name }}.
                {% endblocktrans %}
              {% endfilter %}
            </span>
          </p>
        </div>
        <div class="accomplishment-signatories">
          <h3 class="accomplishment-signatories-title sr-only">{% trans "Noted by" as tmsg %}{{ tmsg | force_escape }}</h3>
          <div class="inner-wrapper-signatories">
            <div class="list-signatories">
              {% for signatory in user_credential.credential.signatories.all %}
              <div class="signatory">
                <div class="signatory-sig-wrap">
                    {% if signatory.image %}
                      <img class="signatory-signature" src="{{ signatory.image.url }}" alt="{{ signatory.name }}">
                    {% endif %}
                </div>
                <div class="signatory-name-creds-wrap">
                  <h4 class="signatory-name">{{ signatory.name }}</h4>
                  <p class="signatory-credentials copy copy-micro">
                    {% autoescape off %}
                    <span class="role">{{ signatory.title }}</span>
                    <span class="organization">
                      {% firstof signatory.organization_name_override program_details.organizations.0.name %}
                    </span>
                    {% endautoescape %}
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-accomplishment-stamps">
        <ul class="accomplishment-stamps copy-list">
          <li class="accomplishment-stamp-platform">
            {% block platform_logo %}
            {% endblock %}
          </li>
          <li class="accomplishment-stamp-date">
            <span class="title">{% block accomplishment_stamp_title %}{% endblock %}</span>
            <span class="copy-micro emphasized">
              {# Translators: This phrase appears on certificates to show the issue date #}
              {% trans "Issued {month} {year}" as tmsg %}
              {% interpolate_html tmsg month=issue_date|month year=issue_date|date:"Y" as tmsg %}
              {{ tmsg | capfirst }}
            </span>
          </li>

          {% if hours_of_effort %}
            <li class="accomplishment-stamp-effort">
              <span class="title">{% trans "Effort" as tmsg %}{{ tmsg | force_escape }}</span>
              <span class="emphasized">
                {% filter force_escape %}
                  {% blocktrans count num_hours=hours_of_effort %}{{num_hours}} hour{% plural %}{{num_hours}} hours{% endblocktrans %}
                {% endfilter %}
              </span>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  {% block certificate_metadata %}
  {% endblock %}
</main>
{% endwith %}
