{% extends 'ucsd/credentials/programs/base.html' %}
{% load i18n_assets %}
{% load i18n %}
{% load staticfiles %}

{% block accomplishment_summary %}
  {% trans "has successfully completed the" as tmsg %} {{ tmsg | force_escape }}
{% endblock %}

{% block accomplishment_stamp_title %}
  {% trans "Professional Statement of Accomplishment" as tmsg %}{{ tmsg | force_escape }}
{% endblock %}

{% block platform_logo %}
  <a class="logo" href="{{ site.siteconfiguration.lms_url_root }}">
    <img class="logo-img" src="{% static 'images/logo.png' %}">
  </a>
{% endblock %}
