// ------------------------------
// UCSD Theme: Config

// About: variable and configuration overrides

// ------------------------------
// #VARIABLES
// ------------------------------

$brand-primary:           #182b49;
$brand-secondary:         #c8942c;

$masquerade-blue:         $brand-primary;

$header-border-color:     $brand-primary;
$header-bg:               #eee;

$gray-600:                #767676;

$navbar-font: Roboto,     'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$breakpoints: (
    'xs': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);
