// ------------------------------
// UCSD Theme: Config

// About: variable and configuration overrides

// ------------------------------
// #VARIABLES
// ------------------------------

$brand-primary:           #182b49;
$brand-secondary:         #c8942c;

$masquerade-blue:         $brand-primary;

$header-border-color:     $brand-primary;
$header-bg:               #eee;

$baseline:                20px;
$grid-gutter-width:       30px;

$cert-distinguished-color:#006a96;

$gray-600:                #767676;

$roboto:                  Roboto, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$domine:                  Domine, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-font:             $roboto;

$breakpoints: (
    'xs': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);
