// ------------------------------
// // edX Web Certificates: Layouts

// About: styling for generic layouts and responsive support.

// #HEADER

// ------------------------------
// #HEADER
// ------------------------------
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// app header
.wrapper-header {
        border-bottom: 1px solid $header-border-color;
        background: $header-bg;
}

.masquerade-banner-wrapper {
    background: $masquerade-blue;
}

.wrapper-banner-user {
  box-shadow: inset 0 rem(2) rem(2) 0 black;
  background: $banner-background;
    padding: 0 $baseline;
    .banner-user{
        padding-left: 0;
        padding-right: 0;
    }
    .message-block {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        display: block;
    }
    .message-text,
    .message-actions {
        padding: 0;
        float: none;
        width: auto;
        max-width: none;
        text-align: left;
    }
}

.hamburger-menu {
    @include left(20px);
    position: absolute;
    top: 24px;
    width: 30px;
    height: 28px;
    padding-bottom: 5px;
    background: none;
    border: 0;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    @include media('>=lg') {
        display: none;
    }

    .line {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: $gray-600;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
            top: 18px;
            width: 0;
            left: 50%;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 10px;
        }

        &:nth-child(2) {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        &:nth-child(4) {
            top: 18px;
            width: 0;
            left: 50%;
        }
    }

    &.collapsed {

        .line {

            &:nth-child(1) {
                top: 0;
                width: 100%;
                left: 0;
            }

            &:nth-child(2),
            &:nth-child(3) {
                -webkit-transform: rotate(0);
                transform: rotate(0);
            }

            &:nth-child(4) {
                top: 20px;
                width: 100%;
                left: 0;
            }
        }
    }
}

.navbar {
    font-family: $navbar-font;
    padding: 0;
    @include media('<lg') {
        display: block;
    }

    .navbar-nav {
        @include media('<lg') {
            border-top: 1px solid #0075b4;
        }

        .nav-link {
            padding: 12px 20px;
            font-weight: 700;
            color: $brand-primary;
            @include media('<lg') {
                background: #fff;
                border-bottom: 1px solid #e7e7e7;
            }

            @include media('>=lg') {
                border-bottom: 4px solid transparent;
                padding: 7px 25px 19px;
            }

            &:after {
                @include media('<lg') {
                    @include padding-left(4px);
                    @include ltr {
                        content: '\00BB';
                    }
                    @include rtl {
                        content: '\00AB';
                    }
                }
            }

            &:hover {
                color: #fff;
                border-color: #e7e7e7;
                background: $gray-600;
                @include media('>=lg') {
                    color: $brand-secondary;
                    border-color: $brand-secondary;
                    background: none;
                }
            }
        }

        .active {

            .nav-link {
                color: #fff;
                border-color: #e7e7e7;
                background: $gray-600;
                @include media('>=lg') {
                    color: $brand-secondary;
                    border-color: $brand-secondary;
                    background: none;
                }
            }
        }
    }
}

.header-app {
    max-width: none;
    padding: 0;
    @include media('>=lg') {
        padding: 15px 40px 0;
    }

    .logo {
        width: 170px;
        display: block;
        @include media('>=lg') {
            width: 203px;
            display: inline-block;
        }
    }
}

.header-app-title {
    padding: 15px 0;
    display: block;
    @include media('>=lg') {
        @include padding(0, 20px, 8px, 0);
        display: inline-block;
    }
}
