// lms/static/certificates/sass/components.css

.wrapper-accomplishment-rendering {
    padding: 50px 0 0;
}

.wrapper-accomplishment-rendering .accomplishment-rendering {
    border-color: #006A96;
    background: #fff;
    padding-bottom: 5.0em;
    border-top: 4px solid #006A96;
    padding: 1.25rem 1.25rem;
    .accomplishment-type-wrap {
        margin-top: 1rem;
        margin-bottom: 0;
        overflow: hidden;
        .accomplishment-type {
            margin-top: 0;
            margin-bottom: -1rem;
            @include clearfix;
            float: left;
            width: 100%;
            font-family: $roboto;
            padding-left: 8px;
            .accomplishment-type-label-1-a {
                color: #182b49;
                font-weight: 700;
                float: left;
                .hd-3 {
                    margin-bottom: 0;
                }
            }
            .accomplishment-type-label-1-b {
                color: #182b49;
                font-style: italic;
                float: left;
                padding-left: .5rem;
                .hd-3 {
                    margin-bottom: 0;
                }
            }
            .accomplishment-type-label-2 {
                color: #C69214;
                float: left;
                letter-spacing: .1rem;
                font-weight: bold;
                .hd-3 {
                    margin-bottom: 0;
                }
            }
            .accomplishment-type-date {
                color: #000000;
                float: right;
                margin-bottom: 0.625rem;
                font-size: 0.875rem;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 1.6;
                letter-spacing: 0.0625rem;
                .hd-3 {
                    margin-bottom: 0;
                }

            }
        }
    }
    .inner-wrapper-accomplishment-rendering,
    .inner-wrapper-statement-and-signatories {
        width: 100%;
        overflow: hidden;
        margin-top: 6.0rem;
        @include clearfix;
        .accomplishment-statement {
            float: left;
            text-align: left;
            border-bottom: 0;
            width: 100%;
            margin-bottom: 2.5rem;
            padding-bottom: 2.5rem;
        }
        .accomplishment-statement,
        .inner-wrapper-statement-and-orgs {
            float: left;
            width: 75%;
            position: relative;
            font-family: $domine;
            margin-bottom: 2.5rem;
            padding-bottom: 2.5rem;
            .accomplishment-recipient {
                color: #182b49;
                display: block;
                font-size: 3.375rem;
                margin-bottom: 0.625rem;
                text-align: left;
                font-weight: 600;
            }
            .accomplishment-summary {
                color: #182b49;
                float: left;
                text-align: left;
                vertical-align: bottom;
                margin-bottom: 0;
                font-size: 0.875rem;
            }
            .accomplishment-course,
            .accomplishment-program {
                color: #006A96;
                font-weight: 600;
                font-size: 2.5rem;
                float: left;
            }
            .accomplishment-statement-course {
                float: left;
            }
            .accomplishment-orgs {
                float: left;
                display: block;
                margin-bottom: 2.5rem;
                .organization-logo {
                    position: unset;
                    bottom: 0;
                    left: 0;
                    transform: none;
                    max-width: 25%
                }
            }
        }
        .accomplishment-signatories {
            float: right;
            position: relative;
            width: 20%;
            height: 100%;
            border-bottom: 0;
            .inner-wrapper-signatories {
                float: right;
                position: absolute;
                bottom: 0;
                height: 95%;
                margin-top: 2.5rem;
                .signatory {
                    float: right;
                    width: 100%;
                    position: relative;
                    height: 100%;
                    padding-bottom: 2.0rem;
                    .signatory-sig-wrap {
                        display: block;
                        .signatory-signature {
                            float: right;
                            border-bottom: 0.125rem solid #f5f5f5;
                            max-width: 100%;
                            max-height: 6.25rem;
                            padding: 1.25rem 0.625rem;
                        }
                    }
                }
                .signatory-name-creds-wrap {
                    display: block;
                    float: right;
                    width: 100%;
                    .signatory-name {
                        text-align: right;
                        display: block;
                        margin-bottom: 0;
                        font: 1.125rem/1.6 Georgia, Times, Times New Roman, serife;
                    }
                    .role,
                    .organization {
                        text-align: right;
                        display: block;
                    }
                    .signatory-credentials {
                        text-align: right;
                        display: block;
                        margin-bottom: 0.625rem;
                        font-size: 12px;
                        line-height: 1.6;
                    }
                }
            }
        }
    }
    .wrapper-accomplishment-stamps {
        font-size: 0.75rem;
        line-height: 1.5;
        .accomplishment-stamp-platform {
            margin-bottom: 2.5rem;
        }
    }
    .logo-img {
        max-width: 17%;
        height: auto;
    }
    .hd-3 {
        margin-bottom: 0.625rem;
        font-size: 1.5rem;
        line-height: 1.5;
    }
}

.copy-list {
    @include list;
}

.accomplishment-program-name
{
    padding-right: 10px; width: 2em; 
}

#blueCapImage
{
    width: 2em;
    padding-right: 10px; 
}